* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #2c2c2c;
  color: #cacaca;
  font-family: "Montserrat";
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.project {
  background-color: #cacaca;
  color: #2c2c2c;
}

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 250px;
}

.part_one,
.part_two {
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background: #cacaca;
  color: #2c2c2c;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  height: 500px;
  width: 350px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  position: relative;
}

.card.auto-animate {
  animation: auto-animate 10s forwards;
}

@keyframes auto-animate {
  0%,
  15% {
    transform: perspective(600px) rotateY(0deg) rotateX(0deg) scale(1);
  }
  50% {
    transform: perspective(600px) rotateY(-15deg) rotateX(5deg) scale(0.8);
  }
  60% {
    transform: perspective(600px) rotateY(15deg) scale(0.8);
  }
  85%,
  100% {
    transform: perspective(600px) rotateY(0deg) rotateX(0deg) scale(1);
  }
}

.box_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_text {
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.card_skills {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px 18px 0 0;
}
